<div class="page-header">
	<h1><%= @user.email %></h1>
</div>

<%# if @magazines %>
	<%# @magazines.each do |magazine| %>
		<!--<div class="well">
			<%#= magazine.content %>
			<br />
			<%#= link_to magazine_path(magazine) %>
		</div> !-->
	<%# end %>
<%# end %>
