<h1>Show page</h1>

<h1><%#= @user.handle %> - <%= @user.email %></h1> <!--was user.name !-->

<%#= image_tag(@user.avatar_url) %>

<%# @user_magazines.each do |magazine| %>
<!--<div><%#= link_to magazine.content, magazine_path(magazine) %></div>!-->
<% end %>