<div class="page-header">

  <h1> All Magazines </h1>

</div>

  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Reading Period</th>
        <th>Payment</th>
        <th>Format</th>
        <th>Submission Restriction</th>
        <th>Genre</th>
        <th>Publication Cycle</th>
        <th>Submission Limit</th>
        <th>Submit To Address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <%= render @magazines %>
    </tbody>


    <!--These should only be available administratively: Edit link + 
  <%#= link_to 'New Magazine', new_magazine_path %>

!-->


